= form_for @person, html: { class: "form form-horizontal person" } do |f|
  .form-group
    = f.label :first_name, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :first_name, class: 'form-control', required: true
    = f.error_span(:first_name)
  .form-group
    = f.label :last_name, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :last_name, class: 'form-control', required: true
    = f.error_span(:last_name)
  .form-group
    = f.label :email, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :email, class: 'form-control', required: true
    = f.error_span(:email)
  .form-group
    = f.label :job, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :job, class: 'form-control', required: true
    = f.error_span(:job)
  .form-group
    = f.label :bio, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :bio, class: 'form-control', required: true
    = f.error_span(:bio)
  .form-group
    = f.label :gender, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :gender, class: 'form-control', required: true
    = f.error_span(:gender)
  .form-group
    = f.label :birth_date, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :birth_date, class: 'form-control', required: true
    = f.error_span(:birth_date)
  .form-group
    = f.label :picture, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :picture, class: 'form-control', required: true
    = f.error_span(:picture)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), people_path, :class => 'btn btn-default'
